[Desktop Entry]
Version=1.6-dev
Encoding=UTF-8
Name=Blyte
Comment=Screenwriting Application
Exec=/opt/blyte/blyte.py
Icon=/opt/blyte/icons/icon64.png
Type=Application
Categories=Utility;Publishing;

