[Desktop Entry]
Version=1.6-dev
Encoding=UTF-8
Name=Trelby
Comment=Screenwriting Application
Exec=/opt/trelby/src/trelby.py
Icon=/opt/trelby/resources/icon64.png
Type=Application
Categories=Utility;Publishing;

