Source: blyte
Section: python
Priority: extra
Maintainer: Anil Gulecha <anil.verve@gmail.com>
Build-Depends: debhelper (>= 7), python-support, fop, xsltproc
Standards-Version: 3.8.0

Package: blyte
Architecture: all
Depends: python (>= 2.6), python-wxgtk2.8, python-crypto
Description: A simple, powerful, full-featured, multi-platform, free screenwriting software. Use as a free alternative to Final Draft / Movie Magic Screenwriter.
