#!/usr/bin/make -f
# -*- makefile -*-

%:
	dh $@ --with python2 --buildsystem=python_distutils

override_dh_auto_install:
	dh_auto_install --buildsystem=python_distutils \
            -- --prefix=/usr \
			   --install-data=/usr/share \
			   --install-lib /usr/share/trelby
